<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.kikuchy.todotxt</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0AF5E0ED-1133-4F78-B664-7085D3204ED5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6E965C9-91E5-4F68-942B-0AA38A5AAD5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3433A8CA-9D44-46BD-986A-6A488C74DD40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2F192EA-4AAF-4CFF-947D-B3CBF08309DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F421688-B035-481C-BAF5-26EF50FAC75C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78250921-5DB4-4E39-9215-0185A1074049</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D140BF31-5AF8-4DBE-840E-E8C59232D172</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E01E10BD-1962-4594-AB44-ADF89776C428</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78250921-5DB4-4E39-9215-0185A1074049</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCFC91F1-D22B-4A8E-9971-0A5D2C47CBB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B6F2A7F-6D23-408E-BF33-6ED025E972D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AF5E0ED-1133-4F78-B664-7085D3204ED5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9955FFF3-0712-4473-A01A-E0DD8A6D47A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D519B061-07D0-438B-90F0-F322AF9480E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2F192EA-4AAF-4CFF-947D-B3CBF08309DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9955FFF3-0712-4473-A01A-E0DD8A6D47A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFB51270-546E-4041-A552-FD4EC6E82F08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC63686A-4120-40FE-A3B7-12A59FEF21EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D140BF31-5AF8-4DBE-840E-E8C59232D172</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFB51270-546E-4041-A552-FD4EC6E82F08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6E965C9-91E5-4F68-942B-0AA38A5AAD5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7068F5C-4657-4E68-90CD-2257600CD760</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E01E10BD-1962-4594-AB44-ADF89776C428</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3433A8CA-9D44-46BD-986A-6A488C74DD40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCFC91F1-D22B-4A8E-9971-0A5D2C47CBB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B6F2A7F-6D23-408E-BF33-6ED025E972D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kikuchy</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Todo.txt</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Added: {var:task}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D7068F5C-4657-4E68-90CD-2257600CD760</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>addtask</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add new task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8B6F2A7F-6D23-408E-BF33-6ED025E972D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"add","arg":"add","subtitle":"Add task"},{"title":"list","arg":"list","subtitle":"List up available tasks"},{"title":"do","arg":"do","subtitle":"Mark as done tasks"}]</string>
				<key>keyword</key>
				<string>todo</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Select action</string>
				<key>title</key>
				<string>Todo.sh</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>6F421688-B035-481C-BAF5-26EF50FAC75C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

/usr/local/bin/todo.sh add $query</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D6E965C9-91E5-4F68-942B-0AA38A5AAD5A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>task</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0AF5E0ED-1133-4F78-B664-7085D3204ED5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>add</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>FCFC91F1-D22B-4A8E-9971-0A5D2C47CBB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>add</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>78250921-5DB4-4E39-9215-0185A1074049</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D140BF31-5AF8-4DBE-840E-E8C59232D172</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>DC63686A-4120-40FE-A3B7-12A59FEF21EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

/usr/local/bin/todo.sh $query</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BFB51270-546E-4041-A552-FD4EC6E82F08</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>do</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E01E10BD-1962-4594-AB44-ADF89776C428</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Done: {var:task}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D519B061-07D0-438B-90F0-F322AF9480E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dotask</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'json'

query = ARGV[0]

print JSON.generate({
  :items =&gt; `/usr/local/bin/todo.sh list`.split("\n").reverse.drop(2).reverse.map {|item|
    m = item.match /^(\d+) (.+)$/
    {
      :uid =&gt; m[1],
      :type =&gt; "default",
      :arg =&gt; m[1],
      :title =&gt; m[2],
    }
  }
})</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Do task</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3433A8CA-9D44-46BD-986A-6A488C74DD40</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

/usr/local/bin/todo.sh do $query</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9955FFF3-0712-4473-A01A-E0DD8A6D47A3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>task</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A2F192EA-4AAF-4CFF-947D-B3CBF08309DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0AF5E0ED-1133-4F78-B664-7085D3204ED5</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>3433A8CA-9D44-46BD-986A-6A488C74DD40</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>6F421688-B035-481C-BAF5-26EF50FAC75C</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>78250921-5DB4-4E39-9215-0185A1074049</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>8B6F2A7F-6D23-408E-BF33-6ED025E972D5</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>9955FFF3-0712-4473-A01A-E0DD8A6D47A3</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>A2F192EA-4AAF-4CFF-947D-B3CBF08309DB</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>BFB51270-546E-4041-A552-FD4EC6E82F08</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>D140BF31-5AF8-4DBE-840E-E8C59232D172</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D519B061-07D0-438B-90F0-F322AF9480E4</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>D6E965C9-91E5-4F68-942B-0AA38A5AAD5A</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>D7068F5C-4657-4E68-90CD-2257600CD760</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>DC63686A-4120-40FE-A3B7-12A59FEF21EE</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>E01E10BD-1962-4594-AB44-ADF89776C428</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>FCFC91F1-D22B-4A8E-9971-0A5D2C47CBB3</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
